.backBlur{
visibility: hidden;
position: absolute;
background-color:rgba(0, 0, 0, 0.7);
width: 100%;
height: 100%;
backdrop-filter: blur(10px);
}
.modalWindow{
margin: 9% 40% 0 40%;
width: 23%;
height: 23%;
background-color: rgb(250, 250, 250);
}
.content{
text-align: center;
padding-top: 15%;
margin-bottom: 15%;
font-size: large;
}
#yes{
cursor: pointer;
margin-right: 7%;
width: 15%;
font-size: large;
}
#no{
cursor: pointer;
width: 15%;
font-size: large;
}
.clear{
width: 1% 0 0 62.5%;
}
#btClear{
  width: 15%;
}